extends layout


block content
	.inner
		.addPage
			h2.addPage__title What do you want to add?
			.addPage__links
				a.addPage__link(href="/band/new") Add Band
				a.addPage__link(href="/album/new") Add Album
				a.addPage__link(href="/pedals/new" data-testid="add.hub.pedals-link") Add Pedal				