.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album {
  width: 30%;
  position: relative;

  @include elem("edit") {
    width: 100%;
  }

  @include elem("hero") {
    position: relative;

    @media all and (max-width: 650px) {
      aspect-ratio: 1 / 1;
    }
  }

  @include elem("actions") {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    // background: linear-gradient(rgba(0, 0, 0, 0.45), transparent);
  }

  @include elem("action") {
    font-size: 10px;

    svg {
      width: 25px;
      fill: $white;
    }

    @include mod("edit") {
      a {
        border-bottom: 0;
      }

      svg {
        fill: $iron;
      }

      &:hover {
        svg {
          fill: $pink;
        }
      }
    }
  }

  .heart__button {
    svg {
      width: 25px;
      fill: $iron;
    }

    &:hover {
      svg {
        fill: $pink;
      }
    }
  }

  @include elem("cover") {
    @include img-responsive();
    display: block;

    @media all and (max-width: 650px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: none;
      object-fit: cover;
    }
  }

  @media all and (max-width: 850px) {
    width: 48%;
  }

  @media all and (max-width: 650px) {
    width: 100%;
  }
} // End of album

/// ALBUM INFO ////

.album-info {
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) and (max-width: 1024px) {
    max-width: $width;
    margin: 0 auto;
  }

  @media all and (min-width: 1025px) {
    flex-direction: row;
  }

  @include elem("cover") {
    flex: 1 1 100%;

    @media all and (min-width: 1025px) {
      flex: 1 1 60%;
    }

    img {
      @include img-responsive();
    }
  }

  @include elem("content") {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    flex-direction: row;
    flex: 1 1 40%;

    @media all and (min-width: 1025px) {
      margin-left: $base-spacing;
    }
  }

  @include elem("title") {
    flex: 0 1 45%;
    font-size: 36px;
    font-size: modular-scale(1);
    margin-right: $base-spacing;

    @media all and (min-width: 1025px) {
      // flex: 1 1 100%;
      margin: 0;
    }
  }

  @include elem("artist-link") {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 45%;

    @media all and (min-width: 1025px) {
      // flex: 1 1 100%;
    }
  }

  @include elem("before") {
    margin-top: $base-spacing;
    margin-right: $small-spacing;

    @media all and (min-width: 1025px) {
      margin-top: 0;
    }
  }

  @include elem("artist") {
    font-size: modular-scale(1);
    @media all and (min-width: 1025px) {
      margin: 0;
    }
  }

  @include elem("hr") {
    width: 100%;
    color: $base;
    margin-bottom: $base-spacing;

    @media all and (min-width: 1025px) {
      margin-top: ($base-spacing * -1);
    }
  }

  @include elem("tracklist") {
    flex: 1 1 100%;
    margin-top: 0;
    margin-right: $base-spacing;

    @media all and (min-width: 768px) and (max-width: 1024px) {
      flex: 1 1 45%;
    }
  }

  @include elem("credits") {
    display: flex;
    flex: 1 1 35%;
    flex-wrap: wrap;

    strong {
      margin-right: $small-spacing;
    }
  }

  @include elem("date") {
    flex: 1 1 100%;
  }

  @include elem("label") {
    flex: 1 1 100%;
    // text-align: right;
  }

  @include elem("credit") {
    flex: 1 1 100%;
  }

  @include elem("link") {
    display: flex;
    align-items: center;
    margin-top: $small-spacing;
    a {
      margin-left: $small-spacing;
      margin-right: $small-spacing;
    }
  }
}

.album-info__comments {
  &-paragraph {
    margin: 0 0 $base-spacing;
    color: $charcoal;
    line-height: $base-line-height;
    font-size: modular-scale(1);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
