html {
  font-size: 10px;
}

.skip-link {
  position: absolute;
  top: -100%;
  left: 0;
  padding: 1rem 2rem;
  background: $jet;
  color: $white;
  z-index: 10000;
  text-decoration: none;

  &:focus {
    top: 0;
  }
}

main {
  display: block;
}

:focus-visible {
  outline: $focus-outline;
  outline-offset: $focus-outline-offset;
}

@media (prefers-reduced-motion: reduce) {
  video#bgvid {
    display: none;
  }
}

body {
  background: $purple;
  background: $silver;
  &:before {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
  }
}

.fullwidth {
  position: relative;
  width: 100%;
}

.inner {
  position: relative;
  max-width: $large-screen;
  margin: 0 auto;
}

.outer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* ================================= 
  MOBILE
==================================== */
@media all and (max-width: 767px) {
}

/* ================================= 
  TABLET
==================================== */
@media all and (min-width: 768px) and (max-width: 1024px) {
}

/* ================================= 
  DESKTOP
==================================== */
@media all and (min-width: 1025px) {
}
