.search {
  position: relative;
  width: 100%;
  display: flex;
  @include elem("results") {
    background: $white;
    position: absolute;
    z-index: 300;
    width: 100%;
    top: 100%;
    box-shadow: 0 0 10px rgba($black, 0.2);
  }
  @include elem("input") {
    font-size: 30px;
    background: $jet;
    color: $white;
    outline: 0;
    border: 0;
  }
  @include elem("result") {
    padding: 10px;
    display: block;
    border-bottom: 1px solid $smoke;

    &:hover {
      background: $white-smoke;
    }

    @include mod("active") {
      background: $white-smoke;
    }
  }
}
